#/////////////////////////
#/////Map Time Limits/////
#/////////////////////////
#//Time given in seconds//
#/////////////////////////
Abyss: 240
Aftermath: 200
Ascension: 120
Aurora: 240
Blind: 120
Blizzard: 180
Burrow: 180
Castle: 120
Containment: 200
Crypt: 240
Dome: 180
Dungeon: 120
Hometree: 200
Jungle: 180
Laputa: 240
Nuketown: 300
#//Nuketown : Minecraft representation of the MW2 Map!
Overflow: 120
Plaines: 150
Tomb: 200