#//////////////////////
#//Matchmaking Config//
#//////////////////////
TimeoutCount: 240
#TimeoutCount: The number of seconds a player will be searching until the search is automatically cancelled due to no players being found.
#60 = 1min. Default = 240 (4 Minutes)
#//////////////////////
SearchMessageDialogueDisplayRate: 30
#SearchMessageDialogueDisplayRate: How many seconds between sending the player the "Searching for players..." message to inform them that they're still searching.
#//////////////////////
ShowTOC: false
#ShowTOC: Show the player how long they have until their search times out next the the "Searching for players message".
#Set to false by default
CoalAmount: 10
#How much coal the player will get each match